name: status nav-no alert

on:
  push:
    branches:
      - main
    paths:
      - alerts/**
      - .github/workflows/deploy-staus-no-alert.yaml

jobs:
  deploy-prod:
    name: Deploy to prod
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      actions: read
    strategy:
      matrix:
        cluster: [ dev-gcp, prod-gcp, dev-fss, prod-fss ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ matrix.cluster }}
          RESOURCE: alerts/felles-alerts.yaml
          PRINT_PAYLOAD: true
